# Binaries & Executables
*.exe
*.exe~
*.exe.old
*.dll
*.so
*.dylib
/build/
/runner
runner
runner.exe
/dist/
/.joss-release-work/
/scratch/

# Joss Environment & Secrets
env.joss
env.enc
.env
.env.*
!.env.example
*.lock

# Temporary Bytecode & Logs
temp_*
*.tmp
*.temp
log.txt
*.log

# Go
vendor/

# IDE & OS Metadata
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Dependencies & Build Artifacts
node_modules/
/ejemplos/*
install/*.zip
install/*.exe
install/joss-linux
install/joss-macos
install/*.vsix
installer/*
jossecurity-*.zip

# Translation & Miscellaneous
*.py
translation_history.json
translation_log.xlsx
hardcoded_strings_list.json
hardcoded_strings.arb
hardcoded_strings.json

# Build artifacts
build/
.dart_tool/
joss-android-arm64